html
{
overflow-x:hidden;
}
body
{
    margin:0;
    background: #1D0F0F;
}
nav
{
    position:fixed ;
    display: grid;
    grid-template-columns: 12.5vw 25vw 25vw 25vw 12.5vw;
    width:100%;
    align-items: center;
    height:10vh;
    background: #453C41;

}
.Nav_Selection
{
    text-align: center;
    height:35px;
}
.Nav_Item1,
.Nav_Item2,
.Nav_Item3
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-family: sans-serif;
    text-align: center;
    font-size:2vw;
    text-decoration: none;
    color:white;
}
.Nav_Item1:active,
.Nav_Item3:active
{
    background: #7B7C81;
}
.Nav_Item2
{
    background: #7B7C81;
}
.Nav_Selection
{
    font-family: "Yu Gothic UI Light";
    width:10vw;
    height:4.5vh;
    align-content: center;
    background: #D4DBE2;
    font-size: 1vw;
}
footer
{
    display: flex;
    align-items:center;
    background: #453C41;
    color:white;
    width:100%;
}
footer>ul
{    font-size: 1.5vw;
    font-family: sans-serif;
    list-style-type: none;
}
.Select_Start
{
    display: none;
}
.Question1
{
    font-family: "Yu Gothic UI Light";
    text-align: center;
    color:white;
    font-size:4vw;
    padding-top: 20vh;
    width:60%;
    margin-left: 20%;
}
.Text1_1,
.Text1_2,
.Text1_3
{
    color:black;
    font-size: 3vw;
    width:25vw;
    height:25vw;
    border-radius: 20vw;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Yu Gothic UI Light";
}
.Text1_1
{
    background: #ECE300;
margin-left: -3%;
}
.Text1_2
{
    background: #d3cb01;
    margin-left: 17%;
    margin-top: -16vw;
}
.Text1_3
{
    background: #a29c01;
    margin-left: 37%;
    margin-top: -15.5vw;
}
.Text1_4
{
    color:black;
    font-size: 3vw;
    width:25vw;
    height:25vw;
    background: #837f00;
    border-radius: 20vw;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 57%;
    margin-top: -14.7vw;
    font-family: "Yu Gothic UI Light";
}
.Text1_5
{
    color:black;
    font-size: 3vw;
    width:25vw;
    height:25vw;
    background: #4f4c00;
    border-radius: 20vw;
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    margin-left: 77%;
    margin-top: -16vw;
    font-family: "Yu Gothic UI Light";
}
.Text1_5>span
{
    width:20vw;
}
.Question2
{
    text-align: center;
    color:white;
    font-size:4vw;
    width:40%;
    margin-left: 30%;
    font-family: "Yu Gothic UI Light";
}
.Text2_1,
.Text2_2,
.Text2_3,
.Text2_4,
.Text2_5
{
    color:black;
    font-size: 3vw;
    width:26vw;
    height:26vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20vw;
    font-family: "Yu Gothic UI Light";
}
.Text2_1>span
{
  width:20vw;
}
.Text2_1
{
    background: #ECE300;
    margin-top: 5vw;
    margin-left: -1vw;
}
.Text2_2
{
    background: #d3cb01;
    margin-left: 20vw;
    margin-top: -17.5vw;
}
.Text2_3
{
    background: #a29c01;
    margin-left: 40vw;
    margin-top: -17.8vw;
}
.The_Selected_Text
{

    color:red;
}
.Text2_4
{
    background: #837f00;
    margin-left: 60vw;
    margin-top: -15vw;
}
.Text2_5>span
{
    text-align: center;
    width:20vw;
}
.Text2_5
{

    background: #4f4c00;
    margin-left:80vw;
    margin-top: -16vw;
}
.Text3
{
    font-family: "Yu Gothic UI Light";
    font-size: 4vw;
    color:white;
    margin-top: 10vw;
    margin-bottom: 10vw;
    text-align: center;
    width:34%;
    margin-left: 33%;
}
