body
{
    overflow-x: hidden;
    margin:0;
    background: #1D0F0F;
}
@media(min-width: 768px)
{
    .Text3
{
    animation: color 3s;
    font-family: "Yu Gothic UI Light";
    font-size: 4vw;
    color:white;
    margin-top: 10vw;
    margin-bottom: 10vw;
    text-align: center;
    width:34%;
    margin-left: 33%;
}
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 12.5vw 25vw 25vw 25vw 12.5vw;
        width:100%;
        align-items: center;
        height:10vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2vw;
        text-decoration: none;
        color:white;
    }
    .Nav_Selection
    {
        display: flex;
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:12vw;
        height:4.5vh;
        justify-content: center;
        align-items: center;
        background: #D4DBE2;
        border-radius: 5vw;

    }
    .Nav_Selection>a
    {
        font-size: 1vw;
        text-decoration: none;
        color: black;
    }
}
@media(max-width: 426px)
{
    .Text3
{
    animation: color 3s;
    font-family: "Yu Gothic UI Light";
    font-size: 4vw;
    color:white;
    margin-top: 40vw;
    margin-bottom: 10vw;
    text-align: center;
    width:34%;
    margin-left: 33%;
}
    nav
    {
        animation: nav 1s;
        position:fixed ;
        display: grid;
        grid-template-columns: 20vw 26vw 26vw 26vw ;
        width:100%;
        align-items: center;
        height:6.5vh;
        background: #453C41;

    }
    .Nav_Item1,
    .Nav_Item2,
    .Nav_Item3
    {
        animation: nav 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6.5vh;
        font-family: sans-serif;
        text-align: center;
        font-size:2.5vw;
        text-decoration: none;
        color:white;

    }

    .Nav_Selection
    {
        display: flex;
        animation: nav 1s;
        font-family: "Yu Gothic UI Light";
        width:20vw;
        height:3vh;
        justify-content: center;
        align-items: center;
        background: #D4DBE2;
        border-radius: 5vw;
    }
    .Nav_Selection>a
    {
        font-size: 2vw;
        text-decoration: none;
        color: black;
    }
}
@keyframes BackG {
from{ background: #1D0F0F;}
}
@keyframes color {
    from{color:#1D0F0F;}
}
@keyframes nav {
    from{margin-top:-10vw;}
}
.Nav_Item1:active,
.Nav_Item3:active
{
    background: #7B7C81;
}
.Nav_Item2
{
    background: #7B7C81;
}
footer
{
    display: flex;
    align-items:center;
    background: #453C41;
    color:white;
    width:100vw;
}
footer>ul
{  
    font-size: 2.5vw;
    font-family: sans-serif;
    list-style-type: none;
}
.Select_Start
{
    display: none;
}
.Question1
{
    animation: color 3s;
    font-family: "Yu Gothic UI Light";
    text-align: center;
    color:white;
    font-size:4vw;
    padding-top: 20vh;
    width:60%;
    margin-left: 20%;
}
.Text1_1,
.Text1_2,
.Text1_3
{
    color:black;
    font-size: 2.8vw;
    width:22vw;
    height:22vw;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Yu Gothic UI Light";
    animation: BackG 3s;
}
.Text1_1>span
{
    font-size: 2.5vw;
}
.Text1_1
{
    background: #ECE300;
margin-left: -2vw;
    border-top-right-radius: 20vw;
    border-bottom-right-radius: 20vw;
}
.Text1_2
{
    border-radius: 20vw;
    background: #d3cb01;
    margin-left: 18vw;
    margin-top: -16vw;
}
.Text1_3
{
    border-radius: 20vw;
    background: #a29c01;
    margin-left: 38vw;
    margin-top: -15.5vw;
}
.Text1_4
{
    animation: BackG 3s;
    color:black;
    font-size: 2.5vw;
    width:22vw;
    height:22vw;
    background: #837f00;
    border-radius: 20vw;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 58vw;
    margin-top: -14.7vw;
    font-family: "Yu Gothic UI Light";
}
.Text1_5
{
    overflow-x: hidden;
    color:black;
    font-size: 2.8vw;
    width:22vw;
    height:22vw;
    background: #4f4c00;
    display: flex;
    align-items: center;
    justify-content:center ;
    text-align: center;
    margin-left: 78vw;
    margin-top: -16vw;
    font-family: "Yu Gothic UI Light";
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    animation: BackG 3s;
}
.Text1_5>span
{
    width:20vw;
}
.Question2
{
    animation: color 3s;
    text-align: center;
    color:white;
    font-size:4vw;
    width:40%;
    margin-left: 30%;
    font-family: "Yu Gothic UI Light";
}
.Text2_1,
.Text2_2,
.Text2_3,
.Text2_4,
.Text2_5
{
    color:black;
    font-size: 2.5vw;
    width:22vw;
    height:22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: BackG 3s;
    font-family: "Yu Gothic UI Light";
}
.Text2_1>span
{
  width:15vw;
}
.Text2_1
{
    border-top-right-radius: 20vw;
    border-bottom-right-radius: 20vw;
    background: #ECE300;
    margin-top: 5vw;
    margin-left: -2vw;
}
.Text2_2
{
    border-radius: 20vw;
    background: #d3cb01;
    margin-left: 18vw;
    margin-top: -15.5vw;
}
.Text2_3
{
    border-radius: 20vw;
    background: #a29c01;
    margin-left: 38vw;
    margin-top: -15.8vw;
}
.The_Selected_Text
{

    color:red;
}
.Text2_4
{
    border-radius: 20vw;
    background: #837f00;
    margin-left: 58vw;
    margin-top: -13vw;
}
.Text2_5>span
{
    text-align: center;
    width:20vw;
}
.Text2_5
{
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    overflow-x: hidden;
    background: #4f4c00;
    margin-left:78vw;
    margin-top: -14vw;
}
.Text3
{
    animation: color 3s;
    font-family: "Yu Gothic UI Light";
    font-size: 4vw;
    color:white;
    margin-top: 10vw;
    margin-bottom: 10vw;
    text-align: center;
    width:34%;
    margin-left: 33%;
}
